In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

In [40]:
startdate = '2004-01-01'
enddate = '2014-11-1'

In [41]:
# get gold data from yahoo finance 01.03.2004 to 20.10.2014
gold = yf.download('GLD', start=startdate, end='2014-10-20')
gold.to_csv('gold.csv')

[*********************100%%**********************]  1 of 1 completed

In [42]:
# get S&P 500 data from yahoo finance 01.03.2004 to 20.10.2014
sp500 = yf.download('^GSPC', start=startdate, end=enddate)
sp500.to_csv('sp500.csv')

[*********************100%%**********************]  1 of 1 completed

In [43]:
# get VIX data from yahoo finance 01.03.2004 to 20.10.2014
vix = yf.download('^VIX', start=startdate, end=enddate)
vix.to_csv('vix.csv')

[*********************100%%**********************]  1 of 1 completed

In [44]:
# get the Euro price in USD from yahoo finance 01.03.2004 to 20.10.2014
eur_usd = yf.download('EURUSD=X', start=startdate, end=enddate)
eur_usd.to_csv('eur_usd.csv')

[*********************100%%**********************]  1 of 1 completed

In [45]:
# get the oil price from yahoo finance 01.03.2004 to 20.10.2014
oil = yf.download('CL=F', start=startdate, end=enddate)
oil.to_csv('oil.csv')

[*********************100%%**********************]  1 of 1 completed

In [46]:
# load all data
gold = pd.read_csv('gold.csv')
sp500 = pd.read_csv('sp500.csv')
vix = pd.read_csv('vix.csv')
eur_usd = pd.read_csv('eur_usd.csv')
oil = pd.read_csv('oil.csv')
cfsi = pd.read_csv('CFSI.csv')
# for cfsi rename the DATE column to Date
cfsi.rename(columns={'DATE': 'Date'}, inplace=True)

In [47]:
# print len of all
print(len(gold))
print(len(sp500))
print(len(vix))
print(len(eur_usd))
print(len(oil))
print(len(cfsi))

2496
2728
2728
2801
2724
7771

In [48]:
# for each dataset (except cfsi) drop all but date and close columns
gold = gold[['Date', 'Close']]
sp500 = sp500[['Date', 'Close']]
vix = vix[['Date', 'Close']]
eur_usd = eur_usd[['Date', 'Close']]
oil = oil[['Date', 'Close']]

In [49]:
# for each dataset (except cfsi) rename the close column to the name of the dataset + close
gold.rename(columns={'Close': 'Close_gold'}, inplace=True)
sp500.rename(columns={'Close': 'Close_sp500'}, inplace=True)
vix.rename(columns={'Close': 'Close_vix'}, inplace=True)
eur_usd.rename(columns={'Close': 'Close_eur_usd'}, inplace=True)
oil.rename(columns={'Close': 'Close_oil'}, inplace=True)

In [37]:
# merge all data
data = pd.merge(gold, sp500, on='Date', how='inner')
data = pd.merge(data, vix, on='Date', how='inner')
data = pd.merge(data, eur_usd, on='Date', how='inner')
data = pd.merge(data, oil, on='Date', how='inner')
data = pd.merge(data, cfsi, on='Date', how='inner')

In [38]:
data

,Date,Close_gold,Close_sp500,Close_vix,Close_eur_usd,Close_oil,CFSI
0,2004-11-18,44.380001,1183.550049,12.980000,1.294901,46.220001,-0.32
1,2004-11-19,44.779999,1170.339966,13.500000,1.303900,48.439999,-0.31
2,2004-11-22,44.950001,1177.239990,12.970000,1.304002,48.639999,-0.31
3,2004-11-23,44.750000,1176.939941,12.670000,1.309706,48.939999,-0.31
4,2004-11-24,45.049999,1181.760010,12.720000,1.317801,49.439999,-0.31
...,...,...,...,...,...,...,...
2461,2014-10-13,118.519997,1874.739990,24.639999,1.263983,85.739998,-0.33
2462,2014-10-14,118.589996,1877.699951,22.790001,1.272394,81.839996,-0.23
2463,2014-10-15,118.989998,1862.489990,25.270000,1.263903,81.779999,-0.14
2464,2014-10-16,119.220001,1862.760010,25.200001,1.282166,82.699997,-0.04
2465,2014-10-17,118.989998,1886.760010,21.990000,1.280442,82.750000,0.06

In [51]:
#data.to_csv('basicdata.csv', index=False)

In [52]:
# define 4 phases of data:
# 1. start - 30 november 2007 (before)
# 2. 3 december 2007 - 30 june 2009 (during)
# 3. 1 july 2009 - 28 march 2013 (after)
# 4. 2 april 2013 - 20 october 2014 (post)

before = data[data['Date'] <= '2007-11-30']
during = data[(data['Date'] >= '2007-12-03') & (data['Date'] <= '2009-06-30')]
after = data[(data['Date'] >= '2009-07-01') & (data['Date'] <= '2013-03-28')]
post = data[(data['Date'] >= '2013-04-02') & (data['Date'] <= '2014-10-20')]

In [53]:
# print all lengths
print(len(before))
print(len(during))
print(len(after))
print(len(post))

756
377
941
391

In [54]:
# save all to csv
# before.to_csv('before.csv', index=False)
# during.to_csv('during.csv', index=False)
# after.to_csv('after.csv', index=False)
# post.to_csv('post.csv', index=False)